
<div class="card pt-0" style="overflow: hidden;background-color: #e9ecef;top: -3px">
  <navbar-component [input1e]="'Dashboard'"></navbar-component>

  <!--user info-->

  <div class="jumbotron" style="margin-top:70px">
    <h1 class="display-4">Hello, User!</h1>
    <p class="lead">Assigned Issues: <span></span>
      <br>Created Issues: <span></span></p>
    <hr class="my-4">
    <p>Create new Issue by clicking the button </p>
    <!--creating issue-->
    <a class="btn btn-outline-dark" role="button" (click)="visibleSidebar5 = true" >
      <img src="assets/plus.jpg" style="width: 30px;height: 30px" class="rounded-circle">
      Create</a>
    <br>
    <!--table about issues-->
    <div class="card mt-3">
     
      <h5 class="card-header font-weight-normal">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
            aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto">
              <!--column sorting-->
              <li class="nav-item dropdown">
                  
                <a pButton  class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" label="Show" (click)="menu.toggle($event)" >
                  <img src="assets/sorting.svg" style="width: 20px;height: 20px">
                  Coloumn sorting
                </a>
                
                
<!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">
                    <img src="assets/statussorting.png" style="width: 30px;height: 30px">
                    Status
                  </a>
                  <a class="dropdown-item" href="#">
                    <img src="assets/titlesorting.png" style="width: 30px;height: 30px">
                    Title</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">
                    <img src="assets/datesorting.svg" style="width: 30px;height: 30px">
                    Date</a>
                  <a class="dropdown-item" href="#">
                    <img src="assets/user.svg" style="width: 30px;height: 30px">
                    Reporter</a>
                </div>-->
                
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="assets/sorting.svg" style="width: 20px;height: 20px">
                    My issues
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">
                      <img src="assets/assigned.png" style="width: 30px;height: 30px">
                      Assigned</a>
                    <a class="dropdown-item" href="#">
                      <img src="assets/edit.png" style="width: 30px;height: 30px">
                      Created</a>
                    
                  </div>
                </li>
                
            </ul>

            <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                <img src="assets/default.png" style="width: 25px;height: 25px">

                Default</button>
            </form>

          </div>
        </nav>
      </h5>
      <div class="card-body table-responsive">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Status</th>
              <th scope="col">Title</th>
              <th scope="col">Date</th>
              <th scope="col">Reporter</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
              </tr>
              <tr>
                  <th scope="row">4</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@fat</td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card-footer text-white bg-dark text-right" style="font-size: 10px">
    V1.0
  </div>
</div>
<p-slideMenu #menu  [model]="col_sort" [menuWidth]="170" [popup]="true" [viewportHeight]="250"></p-slideMenu>
<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Full Screen Sidebar</h1>
    <button pButton type="button" (click)="visibleSidebar5 = false" label="Save" class="ui-button-success"></button>
    <button pButton type="button" (click)="visibleSidebar5 = false" label="Cancel" class="ui-button-secondary"></button>
</p-sidebar>